$mainColor: #ff9999;
$subColor: #ffcccc;
$subColor2: #339999;
$cBrack: #333333;
$cWhite: #ffffff;
$mainColor2: #FF6969;
$cSubOpacity: rgba(255,204,204,0.6);
$cMainOpacity: rgba(255,153,153,0.6);
$cWhiteOpacity: rgba(255,255,255,0.5);
